h1,
h2,
h3 {
  font-weight: 900;
  line-height: 1;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  padding: 2em 0;
}
.box div,
.box div h1,
.box div p {
  padding: 1em 1em 0.5em;
}
.box div p {
  font-weight: 500;
}

.form div input {
  width: 90%;
  padding: 0.3em 0;
  margin-bottom: 1.2em;
  text-align: center;
}

.form div button {
  width: 45%;
  padding: 0.6em 0;
  cursor: pointer;
  background-color: #e07a5f;
  border: none;
  color: rgb(40, 44, 52);
  text-align: center;
  margin: 0.8em 0;
  opacity: 0.6;
  transition: 0.3s;
}

.form div button:hover {
  opacity: 1;
}

.result-success {
  color: #81b29a;
}

.result-danger {
  color: red;
}

.input-error {
  color: red;
}

@media only screen and (min-width: 600px) {
  .box {
    width: 80%;
  }

  .box div h1 {
    font-size: 2.5em;
  }
  .box div p {
    font-size: 1.3em;
    font-weight: 500;
  }

  .form div input {
    width: 90%;
    padding: 0.5em 0;
    font-size: 1.2em;
  }

  .form div button {
    padding: 1em 0;
    margin: 1em 0;
    font-size: 1.2em;
    font-weight: 500;
  }
}
